.App {
  text-align: center;
}
.App .input,
.App .output {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw;

  display: flex;
  flex-flow: column;
}
.App textarea,
.App .block {
  flex: 1;
  overflow: auto;
  text-align: left;
}

.App .block {
  display: flex;
  flex-flow: column;
  border: 1px solid #898;
}

.App .input {
  left: 0;
}
.App .output {
  right: 0;
}

.App .type {
  display: block;
  line-height: 1.5;
  font-family: monospace;
}
.App .type a {
  display: block;
  cursor: pointer;
}
.App .type span {
  display: block;
}
.App .type a:hover {
  text-decoration: underline;
}
